[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask_api = "*"
flask_json = "*"
jwt = "*"
bcrypt = "*"
setuptools = "*"
perlemirbot = {editable = true, ref = "pipenv-test", git = "https://github.com/unca-acm/perlemirBot.git"}

[dev-packages]

[requires]
python_version = "3.9"
